<table id='spl_timetable' >

  <tr>
    <th>DAYS</th>
    <th  colspan="1" >PERIOD <br>1 <br> 7:45-8:35</th>

    <th colspan="2">PERIOD <br>2 <br>8:45 - 9:35</th>

    <th colspan="3">PERIOD <br>3 <br> 9:45-10:35</th>

    <th colspan="3">PERIOD <br>4 <br> 10:55-11:45</th>

    <th colspan="2">PERIOD <br>5 <br>11:55-12:45</th>

    <th colspan="2">PERIOD <br>6 <br>12:55 - 1:45</th>

  </tr>

  <tr>
    <td ><b>SUNDAY</b></td>
    <td>Gr. 8A1 <br> Arabic Language for Non Arabs <br> by Ms. Rania <br> Class code :goea3h5 <br> Meeting ID: 6062176708 <br> Passcode: AR3
      <br> <button  onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09','_blank')" > JOIN CLASS</button> </td>


    <td><b>Gr. 9B1</b> <br> Islamic St. for Non Arabs <br> by Ms. Uzma <br> Class code: nqk2u4h <br> Meeting ID: 6025526699 <br> Passcode: 8n5MXm
      <br> <button  onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09','_blank')"> JOIN CLASS </button> </td>

    <td><b>Gr. 11B1</b> <br> Islamic St. for Non Arabs <br> by Ms. Uzma <br> Class code: whtmj54 <br> Meeting ID: 6025526699 <br> Passcode:8n5MXm
      <br>  <button  onclick=" window.open('https://zoom.us/j/6025526699?pwd=VU5rMVpIN0p1ZndKRmMxUEZ2Um1hUT09','_blank')"> JOIN CLASS </button></td>

    <td> <b>Gr. 10B2</b> <br> Arabic Language for Non Arabs <br> by Ms. Rania <br>Class code: zcj4pfx<br> Meeting ID: 606 217 6708<br> Passcode:AR3<br>
      <button  onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09','_blank')"> JOIN CLASS </button></td>
    <td></td>
    <td></td>
    <td><b>Gr. 8A1 </b><br> Islamic St. for Non Arabs <br> by Ms. Hasiba <br>Class code: dvs7bks<br> Meeting ID: 3740255115<br>
      <button  onclick=" window.open('https://zoom.us/j/3740255115','_blank')"> JOIN CLASS </button></td>

    <td><b>Gr. 12A </b><br> Islamic St. for Non Arabs <br> by Ms. Uzma <br>Class code: 2t7dfwl<br> Meeting ID: 6025526699<br>
      <button  onclick=" window.open('https://zoom.us/j/6025526699?pwd=VU5rMVpIN0p1ZndKRmMxUEZ2Um1hUT09','_blank')"> JOIN CLASS </button></td>

    <td></td>

    <td><b>Gr. 12B1</b><br>Arabic Language for Non Arabs <br> by Ms. Rania<br>Class code: smc4tum<br> Meeting ID: 606 217 6708  <br> Passcode: AR3 <br>
      <button  onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09','_blank')"> JOIN CLASS </button></td>

    <td><b>Gr. 11A1 </b><br> Arabic Language for Non Arabs <br> by Ms. Rania<br>Class code: dwbfrt6<br> Meeting ID: 606 217 6708  <br> Passcode: AR3 <br>
      <button  onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09','_blank')"> JOIN CLASS </button></td>
    <td></td>
    <td></td>
  </tr>
  <!------------------monday--------------------------------------------     -->
  <tr>
    <td ><b>MONDAY</b></td>
    <td><b>Gr. 9B1</b> <br>Arabic Language for Non Arabs <br> by Ms. Rania<br>Class code: km3jvp5<br> Meeting ID: 606 217 6708  <br> Passcode: AR3 <br>
      <button  onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09','_blank')"> JOIN CLASS </button></td>

    <td><b>Gr. 10B2</b><br> Arabic Language for Non Arabs <br> by Ms. Rania<br>Class code: zcj4pfx<br> Meeting ID: 606 217 6708  <br> Passcode: AR3 <br>
      <button  onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09','_blank')"> JOIN CLASS </button></td>

    <td></td>

    <td><b>Gr. 11B1 </b><br>Arabic Language for Non Arabs <br> by Ms. Rania<br>Class code: dwbfrt6<br> Meeting ID: 606 217 6708  <br> Passcode: AR3 <br>
      <button  onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09','_blank')"> JOIN CLASS </button></td>

    <td><b>Gr. 12B1 </b><br>Arabic Language for Non Arabs <br> by Ms. Rania<br>Class code: smc4tum<br> Meeting ID: 606 217 6708  <br> Passcode: AR3 <br>
      <button  onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09','_blank')"> JOIN CLASS </button>
    </td>

    <td><b>Gr. 11A2 </b><br>Islamic St. for Non Arabs <br> by Ms. Uzma <br> Class code: lmudjqv <br> Meeting ID: 6025526699 <br> Passcode:8n5MXm
      <br>  <button  onclick=" window.open('https://zoom.us/j/6025526699?pwd=VU5rMVpIN0p1ZndKRmMxUEZ2Um1hUT09','_blank')"> JOIN CLASS </button></td>

    <td><b>Gr. 8A1 </b><br>Islamic St. for Non Arabs <br> by Ms. Hasiba <br>Class code: dvs7bks<br> Meeting ID: 3740255115<br>
      <button  onclick=" window.open('https://zoom.us/j/3740255115','_blank')"> JOIN CLASS </button></td>

    <td><b>Gr. 12A</b> <br>Islamic St. for Non Arabs <br> by Ms. Uzma <br> Class code: 2t7dfwl <br> Meeting ID: 6025526699 <br> Passcode:8n5MXm
      <br>  <button  onclick=" window.open('https://zoom.us/j/6025526699?pwd=VU5rMVpIN0p1ZndKRmMxUEZ2Um1hUT09','_blank')"> JOIN CLASS </button></td>

    <td></td>
    <td></td>
    <td></td>
    <td><b>Gr. 12A </b><br>Arabic Language for Non Arabs <br> by Ms. Rania<br>Class code: smc4tum<br> Meeting ID: 606 217 6708  <br> Passcode: AR3 <br>
      <button  onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09','_blank')"> JOIN CLASS </button></td>

    <td><b>Gr. 11A2 </b><br>Arabic Language for Non Arabs <br> by Ms. Rania<br>Class code: dwbfrt6<br> Meeting ID: 606 217 6708  <br> Passcode: AR3 <br>
      <button  onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09','_blank')"> JOIN CLASS </button></td>

  </tr>
  <!--     --------------------tuesday----------------------------->
  <tr>
    <td ><b>TUESDAY</b></td>
    <td><b>Gr. 11B1</b><br> Arabic Language for Non Arabs <br> by Ms. Rania<br>Class code: dwbfrt6<br> Meeting ID: 606 217 6708  <br> Passcode: AR3 <br>
      <button  onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09','_blank')"> JOIN CLASS </button></td>

    <td><b>Gr.8A1</b><br> Arabic Language for Non Arabs <br> by Ms. Rania<br>Class code: goea3h5<br> Meeting ID: 606 217 6708  <br> Passcode: AR3 <br>
      <button  onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09','_blank')"> JOIN CLASS </button></td>

    <td><b>Gr.11A1</b><br> Islamic St. for Non Arabs <br> by Ms. Uzma<br> Class code: zcbhcni <br> Meeting ID: 6025526699 <br> Passcode:8n5MXm
      <br>  <button  onclick=" window.open('https://zoom.us/j/6025526699?pwd=VU5rMVpIN0p1ZndKRmMxUEZ2Um1hUT09','_blank')"> JOIN CLASS </button></td>

    <td><b>Gr.11A1</b><br> Arabic Language for Non Arabs <br> by Ms. Rania<br>Class code: dwbfrt6<br> Meeting ID: 606 217 6708  <br> Passcode: AR3 <br>
      <button  onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09','_blank')"> JOIN CLASS </button></td>

    <td></td>
    <td></td>
    <td><b>Gr.9B1</b><br> Arabic Language for Non Arabs <br> by Ms. Rania<br>Class code: km3jvp5<br> Meeting ID: 606 217 6708  <br> Passcode: AR3 <br>
      <button  onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09','_blank')"> JOIN CLASS </button></td>

    <td><b>Gr.10B2</b><br> Arabic Language for Non Arabs <br> by Ms. Rania<br>Class code: zcj4pfx<br> Meeting ID: 606 217 6708  <br> Passcode: AR3 <br>
      <button  onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09','_blank')"> JOIN CLASS </button></td>

    <td><b>Gr.12B1</b><br> Islamic St. for Non Arabs <br> by Ms. Uzma<br> Class code: whon467 <br> Meeting ID: 6025526699 <br> Passcode:8n5MXm
      <br>  <button  onclick=" window.open('https://zoom.us/j/6025526699?pwd=VU5rMVpIN0p1ZndKRmMxUEZ2Um1hUT09','_blank')"> JOIN CLASS </button></td>

    <td><b>Gr.11A2</b><br> Arabic Language for Non Arabs <br> by Ms. Rania<br>Class code: dwbfrt6<br> Meeting ID: 606 217 6708  <br> Passcode: AR3 <br>
      <button  onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09','_blank')"> JOIN CLASS </button></td>

    <td><b>Gr.9B1</b><br> Social St. for Non Arabs <br> by Ms. Hasiba <br>Class code: ei54iyk<br> Meeting ID: 3740255115<br>
      <button  onclick=" window.open('https://zoom.us/j/3740255115','_blank')"> JOIN CLASS </button></td>
    <td></td>
    <td></td>
  </tr>


  <!--     ------------------wed---------------------------------------->
  <tr>
    <td ><b>WEDNESDAY</b></td>
    <td><b>Gr. 9B1</b> <br> Arabic Language for Non Arabs <br> by Ms. Rania<br>Class code: km3jvp5<br> Meeting ID: 606 217 6708  <br> Passcode: AR3 <br>
      <button  onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09','_blank')"> JOIN CLASS </button></td>

    <td><b>Gr. 11B1</b><br> Arabic Language for Non Arabs <br> by Ms. Rania<br>Class code: dwbfrt6<br> Meeting ID: 606 217 6708  <br> Passcode: AR3 <br>
      <button  onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09','_blank')"> JOIN CLASS </button></td>

    <td><b>Gr. 12B1</b><br> Arabic Language for Non Arabs <br> by Ms. Rania<br>Class code: smc4tum<br> Meeting ID: 606 217 6708  <br> Passcode: AR3 <br>
      <button  onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09','_blank')"> JOIN CLASS </button></td>

    <td><b>Gr.12A</b><br> Arabic Language for Non Arabs <br> by Ms. Rania<br>Class code: smc4tum<br> Meeting ID: 606 217 6708  <br> Passcode: AR3 <br>
      <button  onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09','_blank')"> JOIN CLASS </button></td>

    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><b>Gr. 11A2</b><br> Arabic Language for Non Arabs <br> by Ms. Rania<br>Class code: dwbfrt6<br> Meeting ID: 606 217 6708  <br> Passcode: AR3 <br>
      <button  onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09','_blank')"> JOIN CLASS </button></td>

    <td><b>Gr. 8A1</b><br> Social St. for Non Arabs <br> by Ms. Hasiba<br>Class code: rw6m3ln<br> Meeting ID: 3740255115<br>
      <button  onclick=" window.open('https://zoom.us/j/3740255115','_blank')"> JOIN CLASS </button></td>

    <td><b>Gr. 9B1</b><br> Islamic St. for Non Arabs <br> by Ms. Uzma<br> Class code: nqk2u4h <br> Meeting ID: 6025526699 <br> Passcode:8n5MXm
      <br>  <button  onclick=" window.open('https://zoom.us/j/6025526699?pwd=VU5rMVpIN0p1ZndKRmMxUEZ2Um1hUT09','_blank')"> JOIN CLASS </button></td>

    <td><b>Gr. 11B1</b><br> Islamic St. for Non Arabs <br> by Ms. Uzma<br> Class code: whtmj54 <br> Meeting ID: 6025526699 <br> Passcode:8n5MXm
      <br>  <button  onclick=" window.open('https://zoom.us/j/6025526699?pwd=VU5rMVpIN0p1ZndKRmMxUEZ2Um1hUT09','_blank')"> JOIN CLASS </button></td>

  </tr>
  <!--     --------------------------thu------------------------------------->
  <tr>
    <td ><b>THURSDAY</b></td>
    <td><b>Gr. 9B1</b> <br>Social St. for Non Arabs <br> by Ms. Hasiba<br>Class code: ei54iyk<br> Meeting ID: 3740255115<br>
      <button  onclick=" window.open('https://zoom.us/j/3740255115','_blank')"> JOIN CLASS </button></td>

    <td><b>Gr. 11A1</b><br> Islamic St. for Non Arabs <br> by Ms. Uzma<br> Class code: zcbhcni <br> Meeting ID: 6025526699 <br> Passcode:8n5MXm
      <br>  <button  onclick=" window.open('https://zoom.us/j/6025526699?pwd=VU5rMVpIN0p1ZndKRmMxUEZ2Um1hUT09','_blank')"> JOIN CLASS </button></td>

    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><b>Gr. 11A1</b><br> Arabic Language for Non Arabs <br> by Ms. Rania<br>Class code: dwbfrt6<br> Meeting ID: 606 217 6708  <br> Passcode: AR3 <br>
      <button  onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09','_blank')"> JOIN CLASS </button></td>

    <td><b>Gr. 12B1</b><br> Islamic St. for Non Arabs <br> by Ms. Uzma<br> Class code: whon467 <br> Meeting ID: 6025526699 <br> Passcode:8n5MXm
      <br>  <button  onclick=" window.open('https://zoom.us/j/6025526699?pwd=VU5rMVpIN0p1ZndKRmMxUEZ2Um1hUT09','_blank')"> JOIN CLASS </button></td>

    <td><b>Gr. 11A2</b><br> Islamic St. for Non Arabs <br> by Ms. Uzma<br> Class code: lmudjqv <br> Meeting ID: 6025526699 <br> Passcode:8n5MXm
      <br>  <button  onclick=" window.open('https://zoom.us/j/6025526699?pwd=VU5rMVpIN0p1ZndKRmMxUEZ2Um1hUT09','_blank')"> JOIN CLASS </button></td>

    <td><b>Gr. 8A1</b><br> Arabic Language for Non Arabs <br> by Ms. Rania<br>Class code: goea3h5<br> Meeting ID: 606 217 6708  <br> Passcode: AR3 <br>
      <button  onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09','_blank')"> JOIN CLASS </button></td>

    <td><b>Gr. 12A</b><br> Arabic Language for Non Arabs <br> by Ms. Rania<br>Class code: smc4tum<br> Meeting ID: 606 217 6708  <br> Passcode: AR3 <br>
      <button  onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09','_blank')"> JOIN CLASS </button></td>

    <td></td>
    <td></td>
  </tr>
</table>