<table id="spl_timetable" align="center">
  <thead align="center">
  <tr class="table-head" align="center" style="font-weight: bold" >
    <th style="font-weight: bold"> DAYS</th>
    <th> PERIOD <br> 7:45-8:35 <br> 1</th>
    <th> PERIOD <br> 7:45-8:35 <br> 2</th>
    <th> PERIOD <br> 7:45-8:35 <br> 3</th>
    <th> PERIOD <br> 7:45-8:35 <br> 4</th>
    <th> PERIOD <br> 7:45-8:35 <br> 5</th>
    <th> PERIOD <br> 7:45-8:35 <br> 6</th>
  </tr>
  </thead>
  <tbody align="">
  <tr class="table-body">
    <td style="font-weight: bold">SUNDAY</td>
    <td><b>Gr. 3D</b><br> Arabic Lang. Non Arabs <br> Ms. Rania <br> Class code:ijpqzic <br> Meeting ID: 606 217 6708 <br>
      <button onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09','_blank')" >JOIN CLASS</button> </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><b>Gr. 3D</b>  <br> Islamic Studies for Non Arabs <br> Ms. Hasiba <br>
      Class code
      slanz4x <br>
      Meeting ID:
      3740255115 <br>
      <button onclick=" window.open('https://zoom.us/j/3740255115','_blank')" >JOIN CLASS</button>

    </td>
  </tr>

  <tr class="table-body" >
    <td style="font-weight: bold">MONDAY</td>
    <td><b>Gr. 6B3</b> <br> Arabic Language for Non Arabs <br> Ms. Rania <br>
      Class code:
      o32ggpy <br>
      Meeting ID:
      6062176708 <br>
      <button onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09','_blank')" >JOIN CLASS</button>


    </td>
    <td style="font-weight: bold"></td>
    <td><b>Gr. 3D</b> <br> Social Studies for Non Arabs by Ms. Hasiba <br>
      Class code
      36dmijp <br>
      Meeting ID:
      3740255115 <br>
      <button onclick=" window.open('https://zoom.us/j/3740255115','_blank')" >JOIN CLASS</button>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr class="table-body">
    <td style="font-weight: bold">TUESDAY</td>
    <td></td>
    <td><b>Gr. 3D</b> <br> Arabic Language for Non Arabs by Ms. Rania <br>
      Class code: ijpqzic <br>
      Meeting ID:
      6062176708 <br>
      <button onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09')" >JOIN CLASS</button>
    </td>

    <td></td>

    <td><b>Gr. 3D</b><br> Islamic Studies for Non Arabs by Ms. Hasiba <br>
      Class code: slanz4x <br>
      Meeting ID:
      3740255115 <br>
      <button onclick=" window.open('https://zoom.us/j/3740255115')" >JOIN CLASS</button>
    </td>

    <td><b>Gr. 6B3</b> <br> Social St. for Non Arabs by Ms. Hasiba <br>
      Class code: rqxrp7m <br>
      Meeting ID:
      3740255115 <br>
      <button onclick=" window.open('https://zoom.us/j/3740255115')" >JOIN CLASS</button>

    </td>
    <td><b>Gr.6B3</b> <br> Islamic St. for Non Arabs by Ms. Hasiba <br>
      Class code: 7ouotna <br>
      Meeting ID:
      3740255115 <br>
      <button onclick=" window.open('https://zoom.us/j/3740255115')" >JOIN CLASS</button>
    </td>
  </tr>

  <tr class="table-body">
    <td style="font-weight: bold">WEDNESDAY</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>

    <td><b>Gr.6B3</b> <br> Arabic Language for Non Arabs by Ms. Rania <br>
      Class code:o32ggpy <br>
      Meeting ID:
      6062176708 <br>
      <button onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09')" >JOIN CLASS</button>
    </td>

    <td></td>

  </tr>

  <tr class="table-body">
    <td style="font-weight: bold">THURSDAY</td>
    <td><b>Gr. 6B3</b> <br> Arabic Language for Non Arabs by Ms. Rania <br>
      Class code: o32ggpy <br>
      Meeting ID:
      6062176708 <br>
      <button onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09')" >JOIN CLASS</button>
    </td>

    <td></td>
    <td><b>Gr.3D</b> <br> Arabic Language for Non Arabs by Ms. Rania <br>
      Class code: ijpqzic <br>
      Meeting ID:
      6062176708 <br>
      <button onclick=" window.open('https://zoom.us/j/6062176708?pwd=Ylk1dU9ENmtEMjNEWENHNVR3RUtnUT09')" >JOIN CLASS</button>
    </td>
    <td></td>
    <td><b>6B3</b> <br> Islamic St. for Non Arabs by Ms. Hasiba <br>
      Class code: 7ouotna <br>
      Meeting ID:
      3740255115 <br>
      <button onclick=" window.open('https://zoom.us/j/3740255115')" >JOIN CLASS</button>
    </td>
    <td></td>
  </tr>
  </tbody>
</table>